@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-pharagraph: #ececec;
  --color-headings: #000;
  --thm-base-orange: #fb8827;
  --thm-base-green: #4ade80;
  --phagraph-gray-color: #929292;
  --dark-gray-color: #3c3c3b;
}

.pharagraph-color {
  color: var(--color-pharagraph);
}

.pharagraph-gray {
  color: var(--phagraph-gray-color);
}

.pharagraph-gray-bg {
  background-color: var(--phagraph-gray-color);
}

.headings-color {
  color: var(--color-headings);
}

.thm-orange-color {
  color: var(--thm-base-orange);
}

.thm-orange-bg {
  background-color: var(--thm-base-orange);
}

.thm-green-color {
  color: var(--thm-base-green);
}

.thm-green-bg {
  background-color: var(--thm-base-green);
}

.dark-gray-color {
  color: var(--dark-gray-color);
}

.dark-gray-bg {
  background-color: var(--dark-gray-color);
}

/* for Audience section animation */
.flip-image {
  transition: 0.5s ease-in-out;
}

.animate-flip:hover > .flip-image {
  transform: rotateY(180deg);
}
